@page
@model IndexModel
@{
    ViewData["Title"] = "Portifolio Filipe Magalhães";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
</style>
<body>    
<center class="p-0 container-fluid center">
    <section class="section-apresentar container-fluid d-inline-flex flex-wrap justify-content-around align-items-center p-0" style="">
        <container-texts class="apresentacao">
            <texts class=" fonte-cor-secundaria text-center">
                <h1 class="display-4">Olá mundo, me chamo</h1>
                <h1 class="display-4 fonte-cor-primaria">Filipe Magalhães</h1>
                <h2>Desenvolvedor Back-End</h2>
            </texts>
            <icons class="d-flex justify-content-around icones-sociais">
                <a href="https://api.whatsapp.com/send?phone=5575999670716" target="_blank">
                    <div class="whatsapp icone"></div>
                </a>
                @* <a href="mailto:7filipe093@gmail.com"> *@
                @*     <div class="email icone"></div> *@
                @* </a> *@
                <a href="https://github.com/FMagalhaess" target="_blank" class="text-white">
                    <span class="bi--github icone"></span>
                </a>
                <a href="https://www.linkedin.com/in/filipemagalhaesdev/" target="_blank" class="text-white">
                    <span class="bi--linkedin icone"></span>
                </a>
            </icons>
            <curriculo>
                <a href="https://docs.google.com/document/d/1feaA1sg_pCknVK4cWS0MwRF2GPiJ5WO2S06aMuiMoeA/export?format=pdf" target="_blank">
                    <span class="btn btn-primary rounded-pill curriculo"> Baixar CV</span>
                </a>
            </curriculo>
        </container-texts>
        <div>
            @* <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/123377601?v=4" *@
            <img class="foto"
                 style=""
                 src="/Images/developer.jpeg"
                 alt="Desenvolvedor"
            />
        </div>
        <container class="align-self-end" style="width: 2200px">
            <span class="container-circle circle-with-arrows d-flex flex-column flex-wrap fundo-cor-primaria circle" >
                <span class="iconamoon--arrow-up-2 icone"></span>
            </span>
        </container>
    </section>
    <section class=" d-flex flex-column p-0">
        @* <div class="losango"></div> *@
        <div class="d-flex flex-wrap justify-content-around align-items-center p-0 sobre-mim">
            <div class="d-flex flex-column align-items-center">
                <h2 class="fonte-cor-primaria titulo-seccion" id="About">Sobre mim</h2>
                <p class="text-justify texto-sobre-mim fonte-media">Meu nome é Filipe Magalhães e sou desenvolvedor Back-end!
                    Desenvolvo software há 2 anos quando intensifiquei meus estudos. Já fui empreendedor,
                    onde aprendi a ser líder e ter um olhar crítico para melhorar a empresa onde estou.
                    Já fui funcionário da maior faculdade da região, onde aprendi a seguir ordens e trabalhar em equipe.
                    Já fui vendedor, onde aprendi a mostrar ao cliente que ele precisa da marca que represento.
                </p>
            </div>
        </div>
    </section>
    <div class="habilidades">
        <div class="d-flex flex-column align-items-center">
            <h2 id="hard-skills" class="fonte-cor-primaria titulo-seccion">Hard-skills</h2>
        </div>
        <div class="stacks d-flex flex-wrap justify-content-center">
            @foreach (var stack in Model.Stacks)
            {
                <div class="d-flex flex-column skill-stack justify-content-between">
                    <div class="stack-habilidades">
                        <img class="imagem-stack-hard-skill" src=@stack.Url>
                        <p class="m-0 align-self-baseline"> @stack.Name </p>
                    </div>
                </div>
            }
        </div>
    </div>
    <section class="d-flex flex-wrap flex-column justify-content-around align-items-center p-0" style="margin-top: 8vh; width: 90%">
        <div class="d-flex flex-column align-items-center">
            <h2 id="Projects" class="fonte-cor-primaria titulo-seccion">Projetos back-end</h2><br/>
        </div>
        @* <div class="d-flex" style="width: 100vh;"> *@
        <projetos-totais class="d-flex flex-wrap conjunto-projetos">
        @foreach (var projeto in Model.Projetos)
        {
        <div class="d-flex card-projeto">
        <projeto class="d-flex flex-column align-items-center justify-content-center projeto">
            <img class="projeto-thumb" src="@projeto.Imagem" alt="">
            <div class="stacks-principais d-flex justify-content-between ">
                <div class="stack-holder">
                    <img class="stack-projeto" src="@projeto.PrincipalStacks[0].Url" alt="">
                    <p>@projeto.PrincipalStacks[0].Name</p>
                </div>
                <div class="stack-holder">
                    <img class="stack-projeto" src="@projeto.PrincipalStacks[1].Url" alt="">
                    <p>@projeto.PrincipalStacks[1].Name</p>
                </div>
                <div class="stack-holder">
                    <img class="stack-projeto" src="@projeto.PrincipalStacks[2].Url" alt="">
                    <p>@projeto.PrincipalStacks[2].Name</p>
                </div>
            </div>
            <a class="btn btn-dark rounded-pill link-util" href=@projeto.LinkUtil target="_blank" role="button"> Projeto</a>
        </projeto>
        <content class="d-flex flex-column holder-desc-tittle ">
            <p class="align-self-center fonte-cor-secundaria titulo-projeto">@projeto.Nome</p>
            <p class="align-self-start descricao-projeto">@Html.Raw(projeto.Descricao)</p>
        </content>
        </div>

        }
        </projetos-totais>
        @* </div> *@
    </section>
    
    
</center>
</body>
